/* .img {

  z-index: 0; } */


    .carousel-caption {
    /* z-index:1; */
    background-color: black;
    opacity: 0.5;
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 150px;

    }
